h1{
    font-size: 3rem !important;
    /* color: black !important; */
}
h2{
    font-size: 1.5rem !important;
    /* color: black !important; */
}
img {
    height: 300px;
    width: 600px;
}
table{
    margin: auto;
}